{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div id="home-top-banner" class="banner-wrap">
	<div class="banner-container">
		<h2 class="banner-header">Calculus Made Easier</h2>
	</div>
</div>

<div id="features" class="container container-block">
	<h3>F E A T U R E S</h3>

	<div class="feature-container row">
		<div class="feature-image-container col-sm-7">
			<div class="col-sm-4">
				<div class="feature-image-crop">
					<img class="feature-image" src="/img/arithmetic.png"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature-image-crop">
					<img class="feature-image" src="/img/arthmetic1.png"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="feature-image-crop">
					<img class="feature-image" src="/img/factorial.png"/>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<label>Arithmetic</label>
			<p>Perform addition, subtraction, multiplication and division. Calculate exponents, factorials and logs.</p>
		</div>
	</div>

	<div class="feature-container row">
		<div class="col-sm-7">
			<label>Differentiation</label>
			<p>Calculate first order derivatives of functions.</p>
		</div>
		<div class="feature-image-container col-sm-4">
			<div class="feature-image-crop">
				<img class="feature-image" src="/img/differentiation.png"/>
			</div>
		</div>
	</div>

	<div class="feature-container row">
		<div class="feature-image-container col-sm-4">
			<div class="feature-image-crop">
				<img class="feature-image" src="/img/Intege.png"/>
			</div>
		</div>
		<div class="col-sm-7">
			<label>Integration</label>
			<p>Perform integration on specified functions.</p>
		</div>
	</div>

	<div class="feature-container row">
		<div class="col-sm-7">
			<label>Limits</label>
			<p>Calculate the limits of functions at a given point.</p>
		</div>
		<div class="feature-image-container col-sm-4">
			<div class="feature-image-crop">
				<img class="feature-image" src="/img/limit.png"/>
			</div>
		</div>
	</div>

	<div class="feature-container row">
		<div class="feature-image-container col-sm-4">
			<div class="feature-image-crop">
				<img class="feature-image" src="/img/contin.png"/>
			</div>
		</div>
		<div class="col-sm-7">
			<label>Continuity</label>
			<p>Determine whether or not a function is continuous at a given point.</p>
		</div>
	</div>

	<div class="feature-container row">
		<div class="col-sm-7">
			<label>Graph Plotting</label>
			<p>Plot two dimentional graphs of f(x) vs x.</p>
		</div>
		<div class="feature-image-container col-sm-5">
			<div class="col-sm-6">
				<div class="feature-image-crop">
					<img class="feature-image" src="/img/graphEx.png"/>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="feature-image-crop">
					<img class="feature-image" src="/img/graph.png"/>
				</div>
			</div>
		</div>
	</div>

	<div class="feature-container row">
		<div class="feature-image-container col-sm-4">
			<div class="feature-image-crop">
				<img class="feature-image" src="/img/root.png"/>
			</div>
		</div>
		<div class="col-sm-7">
			<label>Roots</label>
			<p>Find the roots of an equation.</p>
		</div>
	</div>

	<div class="feature-container row">
		<div class="col-sm-7">
			<label>Taylor Series Expansion</label>
			<p>Perform Taylor Series expansions of expressions.</p>
		</div>
		<div class="feature-image-container col-sm-4">
			<div class="feature-image-crop">
				<img class="feature-image" src="/img/taylor.png"/>
			</div>
		</div>
	</div>
</div>

{% endblock %}